<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>MercadoLiebre</title>
    </head>
    <body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="">
            <form action="#" method="GET">
                <input type="text" placeholder="Buscar productos, marcas" class="search-bar">
            </form>
        </div>
        <div class="main-header-bottom-bar">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                 Compra en cuotas y sin tarjeta de crédito
            </h2>
            </div>
        </div>
        <a href="#" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#"> Tiendas Oficiales</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <img src="/images/img-home-banner.jpg" class="logo-banner" alt="">


    </header>





        <form action="views/home.html" method="GET" class="log-in">
            <div class="form-control">
                <label for="user">Usuario</label>
                <input type="text" id="user" />
            </div>
            <div class="form-control">
                <label for="pass">Contraseña</label>
                <input type="password" id="pass" />
            </div>
            <div>
                <input type="submit" value="Enviar" class="button"/>
            </div>
        </form>
    </body>
</html>
